*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
#header{
    
}
header{
    overflow: hidden;

    background-color: whitesmoke;
 /*   animation: EfectosX 0.75s;*/
    z-index: 99;
    height: auto;
    overflow: hidden;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; 
    z-index: 99;
    background-color: whitesmoke;

}
#superior-header{
    display: flex;
    justify-content: space-between;
    transition: 2s;
    margin-bottom: -100px;
}
#buscador{
    margin: 20px;
    transition: 2s;
}
#logo img{
    width: 100%;
    transition: 2s;
}
#logo{
    width: 12%;
    margin-left: 15px;
    margin-top: 10px;
    transition: 0.4s;
}
#minilogo{
    width: 100px;
    height: 80px;
    top: 60px;
    left: 50px;
    right: 0px;
    position: relative;
}
#miniimagen{
    width: 100px;
    height: 80px;
    visibility: hidden;
}
.esconder{
    transition: 2s;
    visibility: hidden;
    display: none;
    
}
.ver{
    transition: 0.4s;
    visibility: visible;
}
nav{
    display: flex;
    justify-content: center;
    margin: 1px 0;
}

nav ol a{
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px -3px;
    
}
nav ol a:hover{
    color: rebeccapurple;
    transition: 1s;
    background-color: #cecdcd;
}
#carrusel{
    width: 100%;
    margin: 0 auto;
}

#banner{
    width: 100%;
    height: 100%;
    
}
#titulobanner, .banner-titulo-derecho{
    z-index: 1;
    position: relative;
    bottom: 150px;
    float: right;
    right: 150px;
    height: 0;
    color: white;
    text-align: center;
    width: 60px;
}
.ban-descri{
    position: relative;
    bottom: 80px;
    color: whitesmoke;
    float: right;
    right: 100px;
    text-align: center;
}
.centrar{
    margin: auto;
    width: 100%;
    margin: -25px 0;
}
.index-img{

    margin: 0 0 0 30px;
    width: 95%;
    height: 300px;
    transition:all 0.4s ease-out;
    z-index: 1;
    border-radius: 3px;
    
}
/*
.index-img:hover{
    transition: 1s;
    z-index: -1;
    object-fit: cover;
    
}
*/
.boton-img{
    position: relative;
    bottom: 50px;
    right: 50%;
    left: 50%;
    
}

#blog-index{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.blog-vertical{
    width: 350px;
    height: 525px;
    border: 1px solid black;

}
.blog-horinzotal{
    width: 700px;
    height: 250px;
    border: 1px solid black;
    margin-bottom: 25px;
}
.sombreado{
    box-shadow: 0px 0px 5.5px 0px black;
}
.sombreado:hover{
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.5s;
}

.centrar-texto{
    text-align: center;
    margin: 5px auto;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parrafo{
    margin: 0 50px;
    width: 70%;
    text-justify: justify;
}
.flex-horinzotal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.blog-flecha{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    color: black;
}



/*          Estilos de enlace     */
.enlaces{
    text-decoration: none;
}
.enlaces:link{
    color: orange;
}
.enlaces:visited{
    color: orange;
}
.enlaces:hover{
    color: rebeccapurple;
    transition: 0.5s;

}
.enlaces:active{
    color:orange;
}
.redes{
    font-size: 40px;
}
.nav_footer{
    font-size: 20px;
}







/*         ! Paginas Nosotros         */
#content_nosotros{
    margin-top: 250px;
}
.flex-horinzotal > img{
    width: 48%;
    margin: 20px 25px;
}

.tamaño-nosotros > img{
    width: 200px;
}
.id-nosotros{
    justify-content: space-evenly;
    margin: 100px auto;
}
.id-nosotros > p{
    width: 20%;
}

.izqui-div p{
    text-align: center;
    margin: 0 80px;
}
.img_nosotros{
    border-radius: 10px;

}
.mision_vision{
    margin-bottom: 80px;
}
/*      !    Pagina  Lugares  */

.titulos{
    text-align: center;
    margin: 25px 0;
    font-family: fantasy;
    font-size:50px;
    letter-spacing: 7px;
}
#content_lugares{
    margin-top: 200px;
}
.img_derecha > img,.img_izqui > img{
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    
}
.img_derecha,.img_izqui{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 100px;
}
.img_izqui{
    margin-right: 30px;
}
.img_derecha > p,.img_izqui > p{
    text-align: center;
    
}
.descri_derecho,.descri_izqui{
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 80px;
}
.descri_derecho > h2, .descri_izqui > h2{
    margin: -100px 0 50px 0;
}   
.img_izqui > p, .img_derecha > p{
    font-size: 25px;
}
.parte_izqui,.parte_derecho{
    display: flex;
    justify-content: space-around;
}

/*? PAGINA PAQUETES*/
#content_paquetes{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#content_paquetes > h1{
    grid-column: 1/3;
    text-align: center;
    margin: 15px auto;
    margin-bottom: 60px;
}
.div_avion,.div_hotel{
    display: flex;
    flex-direction: column;
    
}
.div_avion{
    margin-left: 28px;
}
.div_avion img,.div_hotel img{
    width: 95%;
    border-radius: 5px;
}



footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}


/*Este transition es de a de vueltas de izquierda y derecha*/
/*
@keyframes EfectosY{
    from{
        opacity: 0;
        transform: rotateY(-50deg);
        
    }
    to{
        opacity: 1;
        transform: rotateY(0);
        
    }
}
@keyframes EfectosX{
    from{
        opacity: 0;
        transform: rotateX(-50deg);
        
    }
    to{
        opacity: 1;
        transform: rotateX(0);
        
    }
}
*/
@keyframes rotar01 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(710deg);
    }
}
@keyframes rotar02 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-710deg);
    }
}

@keyframes rotarArriba{
    from{
        transform:translateY(220px);
    }
    to{
        transform:translateY(0);
        
    }
}


/*      Javascript estilo*/


.hidden{
    opacity: 0;
}
.visible{
    transition: 1s;
    opacity: 1;
    animation: 0.3s rotarArriba linear;
    
}

.lugares-section:nth-child(n){
    transition: 1s;

}
.lugares-section:nth-child(2n+1){
    transition: 1s;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #555555;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
}
button:hover{
    transition: 0.4s;
    box-shadow: 0 0 2px 3px;
    
}