*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
#header{
    
}
header{
    overflow: hidden;

    background-color: whitesmoke;
 /*   animation: EfectosX 0.75s;*/
    z-index: 99;
    width: 100%;
    overflow: hidden;
   
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    background-color: whitesmoke;

}
#superior-header{
    display: flex;
    justify-content: space-between;
    transition: 2s;
}
#buscador{
    margin: 20px;
    transition: 2s;
}
#logo img{
    width: 100%;
    transition: 2s;
}
#logo{
    width: 12%;
    margin-left: 15px;
    margin-top: 10px;
    transition: 0.4s;
}
#minilogo{
    width: 100px;
    height: 80px;
    top: 60px;
    left: 50px;
    right: 0px;
    position: relative;
}
#miniimagen{
    width: 100px;
    height: 80px;
    visibility: hidden;
}
.esconder{
    transition: 2s;
    visibility: hidden;
    display: none;
    
}
.ver{
    transition: 0.4s;
    visibility: visible;
}
nav{
    display: flex;
    justify-content: center;
    margin: 1px 0;
}

nav ol a{
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    
    margin: 0px -3px;
    
}
nav ol a:hover{
    color: rebeccapurple;
    transition: 1s;
}
#carrusel{
    width: 100%;
    margin: 0 auto;
}

#banner{
    width: 100%;
    height: 100%;
    
}
#titulobanner, .banner-titulo-derecho{
    z-index: 1;
    position: relative;
    bottom: 150px;
    float: right;
    right: 150px;
    height: 0;
    color: white;
    text-align: center;
    width: 60px;
}
.ban-descri{
    position: relative;
    bottom: 80px;
    color: whitesmoke;
    float: right;
    right: 100px;
    text-align: center;
}
.centrar{
    margin: auto;
    width: 100%;
    margin: -25px 0;
}
.index-img{
    width: 100%;
    height: 200px;
    transition:all 0.4s ease-out;
    z-index: 1;
    
}
/*
.index-img:hover{
    transition: 1s;
    z-index: -1;
    object-fit: cover;
    
}
*/
.boton-img{
    position: relative;
    bottom: 50px;
    right: 50%;
    left: 50%;
    color: blueviolet;
}

#blog-index{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.blog-vertical{
    width: 350px;
    height: 525px;
    border: 1px solid black;

}
.blog-horinzotal{
    width: 700px;
    height: 250px;
    border: 1px solid black;
    margin-bottom: 25px;
}
.sombreado{
    box-shadow: 0px 0px 5.5px 0px black;
}
.sombreado:hover{
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.5s;
}

.centrar-texto{
    text-align: center;
    margin: 5px auto;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parrafo{
    margin: 0 50px;
    width: 70%;
    text-justify: justify;
}
.flex-horinzotal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.blog-flecha{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    color: black;
}



/*          Estilos de enlace     */
.enlaces{
    text-decoration: none;
}
.enlaces:link{
    color: orange;
}
.enlaces:visited{
    color: orange;
}
.enlaces:hover{
    color: rebeccapurple;
    transition: 0.5s;

}
.enlaces:active{
    color:orange;
}
.redes{
    font-size: 40px;
}








/*         ! Paginas Nosotros         */
.flex-horinzotal > img{
    width: 50%;
    margin: 20px auto;
}

.tamaño-nosotros > img{
    width: 200px;
}
.id-nosotros{
    justify-content: space-evenly;
    margin: 100px auto;
}
.id-nosotros > p{
    width: 20%;
}

.animacion-scroll{
    
}
/*      !    Pagina  Lugares  */

.titulos{
    text-align: center;
    margin: 25px 0;
    font-family: fantasy;
    font-size:50px;
    letter-spacing: 7px;
}
.lugares-section{
    margin: 150px auto;
    opacity: 1;
    background-color: transparent;
    width: 97%;
    display:flex;
}
h4{
    text-align: center;
    margin: 20px 0;
}

#content_lugares{
    display: flex;
    flex-direction: column;
}

.img_div{
    margin: 150px 0px 0 200px;
    width: 40%;
    height: 400px;
    
}
.texto_div{
    margin: -80px 0px;
    width: 35%;
    font-size: 20px;
}

.texto_div > p{
    font-family: "Latin Modern Roman";
    font-style: italic;
}

.p_01,.p_02,.p_03,.p_04{
    width: 70%;
    padding: 5px;
    line-height: 45px;
    margin-top: 110px;
}

.img_01,.img_02,.img_03,.img_04{
    width:70%;
    height: 60%;
    transform: rotate(-5deg);
    animation: 1s rotar ;
}
.img_02{
    margin-top: 20px;
    width: 70%;
    height: 50%;
}
.img_03{
    margin-top: 20px;
    margin-left: 15px;
}


.carta_fondo{
    position: relative;
    width: 0;
    z-index: 0;
    margin: 0 auto;
    left: 120px;
}
.carta_fondo > img{
    width: 1000px;
    height: 500px;
}

.grado{
    z-index: 1;
    display: flex;
    align-items: center;
}
.grado > img{
    margin-left: 100px;
}

footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}


/*Este transition es de a de vueltas de izquierda y derecha*/
/*
@keyframes EfectosY{
    from{
        opacity: 0;
        transform: rotateY(-50deg);
        
    }
    to{
        opacity: 1;
        transform: rotateY(0);
        
    }
}
@keyframes EfectosX{
    from{
        opacity: 0;
        transform: rotateX(-50deg);
        
    }
    to{
        opacity: 1;
        transform: rotateX(0);
        
    }
}
*/
@keyframes rotar01 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(710deg);
    }
}
@keyframes rotar02 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-710deg);
    }
}

@keyframes rotarArriba{
    from{
        transform:translateY(220px);
    }
    to{
        transform:translateY(0);
        
    }
}


/*      Javascript estilo*/
body{
    
}

#content_lugares{
    background: linear-gradient(to bottom, #A8EDA1, #6CE6E6, #FFC300 , #29DA77 )
}
.hidden{
    opacity: 0;
}
.visible{
    transition: 1s;
    opacity: 1;
    animation: 0.3s rotarArriba linear;
    
}

.lugares-section:nth-child(n){
    transition: 1s;

}
.lugares-section:nth-child(2n+1){
    transition: 1s;
}
